body{
    background: #AB2222;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #AB2222, #ab2222);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #791515d7, #AB2222); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
}

