@charset "utf-8";
/*remove arrows from numbers*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
input[type=number]{
	padding: 0;
	width:100%;
	height: 100%;
}

.solver {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
.sudoku-grid tr {
	margin: 0;
    padding: 0;
}
.sudoku-grid td {
    width: 20px;
    margin: 0;
    padding: 0;
    border: none;
}
.sudoku-grid {
    border-collapse: collapse;
    margin: 0 auto;
}
.sudoku-grid td input{
    width: 100%;
    border: 1px solid #aaa;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: -2px;
}


/*style box*/
.b1.r1 input, .b2.r1 input, .b3.r1 input, .b4.r4 input, .b5.r4 input, .b6.r4 input, .b7.r7 input, .b8.r7 input, .b9.r7 input {border-top: 2px solid #000;} /*top*/
.b1.r3 input, .b2.r3 input, .b3.r3 input, .b4.r6 input, .b5.r6 input, .b6.r6 input, .b7.r9 input, .b8.r9 input, .b9.r9 input {border-bottom: 2px solid #000;} /*btm*/
.b1.c1 input, .b2.c4 input, .b3.c7 input, .b4.c1 input, .b5.c4 input, .b6.c7 input, .b7.c1 input, .b8.c4 input, .b9.c7 input {border-left: 2px solid #000;} /*lft*/
.b1.c3 input, .b2.c6 input, .b3.c9 input, .b4.c3 input, .b5.c6 input, .b6.c9 input, .b7.c3 input, .b8.c6 input, .b9.c9 input {border-right: 2px solid #000;} /*rgt*/

.solveButton {
    display: block;
    margin: 10px auto;
}